body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.home{
    display: flex;
    margin-left: 1%;
    align-items: center;
    justify-content: center;
}
.home h2{
    font-size: 25px;
}
.home a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    padding: 0 7px;
}
.home img{
    width: 40px;
    height: 40px;
    transition: all 0.7s;
}
.home img:hover{
      transform: scale(1.1);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0464fb ;
    height: 45px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;
    
    
}

/*rgb(0, 110, 255)*/
.menu{
    display: flex;
    margin-right: 3%;
}
.menu li{
    font-size: 20px;
    list-style: none;
    font-weight: bold;
    background-color: #ffffff;
    margin: 5px ;
    padding-left: 10px;
    border-radius: 3px;  
    transition: all 0.7s; 
}
.menu li:hover{
    transform: scale(1.1);
}
.menu a{
    text-decoration: none;
    color:  #0464fb;
    margin-right: 10px;
    
}
