body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.home{
    display: flex;
    margin-left: 1%;
    align-items: center;
    justify-content: center;
}
.home h2{
    font-size: 25px;
}
.home a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    padding: 0 7px;
}
.home img{
    width: 40px;
    height: 40px;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0464fb ;
    height: 45px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;
    
    
}

/*rgb(0, 110, 255)*/
.menu{
    display: flex;
    margin-right: 30px;
}
.menu li{
   display: flex;
   align-items: center;
   justify-content: center;
   
     
}

.menu a,
.menu button { 
    /* padronização dos buttons*/
  
  
  
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

  /* estilização dos buttons*/

  border: 1px solid #0464fb;
  color: #0464fb;
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 10px;
  margin: 0 7px;
  font-size: 20px;
  
}

.menu a:hover,
.menu button:hover {
  border: 1px solid #000;
}

